.main{
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
    /* background: blue; */
}
.focus{
    float: left;
    width: 721px;
    height: 455px;
    background-color: aqua;
}
.newsflash{
    float: right;
    width: 250px;
    height: 455px;
    /* background-color: wheat; */
}
.news{
    border: 1px solid #e2e3e2;
    height: 165px;
    /* background-color: antiquewhite; */
}
.lifeservice{
    overflow: hidden;
    height: 209px;
    border: 1px solid #e2e3e2;
}
.bargain{
margin-top: 5px;
}
.news_hd{
    padding: 0px 15px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    height: 33px;
    border-bottom: 1px solid #e2e3e2;
}
.news_hd h5{
    float: left;
}
.news_hd .more{
    float: right;
}
.news_hd .more::after{
    content: "👇";
}
.news_bd ul{
margin-left: 5px;
}
.news_bd ul li{
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news_bd ul li a{
    font-size: 12px;
}
.lifeservice ul li{
    text-align: center;
width: 63px;
height: 71px;
border-bottom: 1px solid #e2e3e2;
border-right: 1px solid #e2e3e2;
float: left;
}
.lifeservice ul{
    width: 252px;

}
.lifeservice ul li i{
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.recom{
    height: 163px;
    background: #ebebeb;
    margin-top: 12px;
}
.recom_hd{
    padding-top: 45px;
    float: left;
    text-align: center;
    height: 163px;
    width: 205px;
    background-color: rgb(67, 55, 55);
}
.recom_bd{
    float: left;
}
.recom_bd ul li{
    position: relative;
    float: right;
}
.recom_bd ul li image{
width: 248px;
height: 163px;
}
.recom_hd div{
    margin-top: 2px;
    color: white;
}
.recom_bd ul li:nth-child(n+2)::after{
    content: "";
    height: 145px;
    width: 1px;
    position: absolute;
    top: 10px;
    background: rgb(59, 46, 46);
}
.box_hd{
    margin-top: 30px;
    height: 39px;
    border-bottom: 2px solid #d6271f;
}
.box_hd h3{
    float: left;
    font-size: 18px;
    color:#d72720;
    font-weight: 400;
}
.box_hd ul li{
    float: right;
}
.box_hd ul li a{
    margin: 0 15px;
}
.tab_list{
    float: right;
    line-height: 30px;
}
.box_bd{
    height: 361px;
}
.tab_list_item>div{
    float: left;
}
.col_210{
    text-align: center;

    width: 210px;
    background-color: #f7f8f7;
    height: 361px;

}
.col_210 ul li{
    float: left;
    width: 84px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
}
.col_210 a img{
    margin-top: 50px;
}
.col_210 ul{
    margin-left: 12px;
}
.col_329{
    width: 329px;
    height: 361px;
    border-right: 2px solid #30d830;
}
.col_221{
    width: 221px;
    height: 361px;
    border-right: 2px solid #30d830;
}
.col_219{
    width: 219px;
}