.hearder,.hearder2{
    text-align: center;
}
.dividing-line{
  background-color: #d2d3d2;
  width: 100%;
  height: 2px;
}
.part{
    text-indent: 25px;
}
.title{
    font-weight: 700;
}
.img_farther{
    display: flex;
}
.img{
 height: 1000ox;
 width: 800px;
 display: flex;
 margin: 0px auto;
}
.bottom,span{
    text-indent: 20px;
    font-size: 15px;
    color: #d2d3d2;
}